.article-wrp {
	background: #fff;
	padding: 60px;

	@media (max-width: 700px) {
		padding: 10px;
	}

	.content {
		flex-direction: column;
		display: flex;
		flex-direction: column;
	}
	.row {
		margin: 0 40px;
	}
	.quote {
		color: var(--main-gold);
		font-size: 25px;
		font-style: italic;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
	}

	h2 {
		font-family: 'Montserrat', sans-serif;
	}
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 17px;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		margin: 10px 0;
		font-weight: 300;
	}
	.img-article--full {
		width: 100%;
	}
	.img-article--small {
		width: 150px;
	}
	.quote-para {
		display: flex;
		align-items: center;
		margin: 10px 0;
	}
	.quote-para.left {
		p {
			&:first-child {
				order: 1;
				padding-left: 20px;
			}
		}
	}
	.quote-para.right {
		p {
			&:first-child {
				order: 0;
				padding-right: 20px;
			}
		}
	}
	.img-wrp {
		margin: 20px 0;
		span {
			color: var(--main-gold);
			font-weight: 600;
		}
	}
}
.article-wrp.two-rows {
	display: flex;
	.row {
		&:nth-child(1) {
			flex: 2;
		}
		&:nth-child(2) {
			flex: 1;
		}
	}
}
.section-article {
	width: 1200px;
	max-width: 95%;
	margin: 40px auto;
	a {
		color: inherit;
	}
	.content {
		display: flex;
	}
	.left-wrp {
		width: 340px;
		.facts-bar-wrp {
			background: var(--main-black);
			padding: 30px;
			color: #fff;
			.row {
				&:first-child {
					margin-bottom: 40px;
				}
			}
			h3 {
				font-size: 24px;
				margin-top: 0;
				font-family: 'Caporal Regular', sans-serif;
			}
			p {
				font-weight: 300;
			}
			img {
				width: 95%;
				height: auto;
			}
		}
		.map-wrp {
			height: 200px;
			background: #efefef;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 25px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
		}
	}
	.right-wrp {
		flex: 1;
	}
	.cta-wrp {
		background: var(--main-gold);
		color: #fff;
		padding: 15px;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		background-repeat: no-repeat;
		background-size: 25px;
		background-position: right 20px center;
		color: #fff;
		background-image: url('/assets/images/icon--arrow--dark.png');
		&:hover {
			background-position: right 10px center;
			background-color: var(--main-brown);
		}
		a {
			display: flex;
			text-decoration: none;
			position: relative;
			width: 100%;
		}
		p {
			margin: 0;
			font-size: 20px;
			font-weight: 700;
		}
		img {
			position: absolute;
			right: 0;
		}
	}
}
@media (max-width: 1200px) {
	.article-wrp.two-rows {
		flex-direction: column;
	}
}
@media (max-width: 1000px) {
	.section-article {
		.content {
			flex-direction: column;
			.left-wrp {
				width: 100%;
			}
		}
		.facts-bar-wrp {
			display: flex;
			justify-content: space-between;
			.row {
				flex: 1;
				img {
					width: 150px;
				}
			}
		}
	}
	.article-wrp {
		margin-top: 20px;
	}
}

@media (max-width: 600px) {
	.section-article {
		.facts-bar-wrp {
			flex-direction: column;
			text-align: center;
			.row {
				margin: 15px 0;
			}
			h3 {
				margin-bottom: 10px;
			}
		}
	}
	.article-wrp {
		.quote-para {
			flex-direction: column;
			p {
				padding: 0 !important;
			}
			img {
				width: 100%;
			}
		}
	}
}
