main.bridge-listings-page {
	.list-view-wrp {
		table.tableizer-table {
			margin: auto;
			width: 1200px;
			max-width: 90%;
			background: var(--main-grey);

			thead {
				tr.tableizer-firstrow {
					th {
						background-color: var(--main-gold);
						color: #000;
						font-weight: bold;
						font-size: 20px;
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}

			tbody {
				td {
					padding: 4px;
					margin: 3px;
					font-size: 18px;
					border: 1px solid #ccc;
				}
			}
		}
	}

	.map-view-wrp {
		display: none;

		.map-wrp {
			padding: 250px 0;
			background: lightblue;
			margin-bottom: 50px;
			text-align: center;
		}
	}

	.more-bridges-wrp {
		margin: 50px 0;

		.text-wrp {
			background: var(--main-grey);
			width: 1200px;
			max-width: 90%;
			margin: 0 auto;
			padding: 40px 20px 40px 20px;
			text-align: center;

			h2 {
				font-family: 'Caporal Regular', sans-serif;
				text-transform: uppercase;
				margin: 0;
				font-size: 70px;

				@media (max-width: 900px) {
					font-size: 60px;
				}
			}

			h3 {
				font-family: 'Caporal Regular', sans-serif;
				text-transform: uppercase;
				margin: 0;
				font-size: 50px;

				@media (max-width: 900px) {
					font-size: 40px;
				}
			}
		}

		.bridges-wrp {
			width: 1200px;
			max-width: 90%;
			margin: 0 auto;
			padding: 40px 20px 40px 20px;
			text-align: center;
			background: var(--main-grey);
		}
	}
}
