main.bridge-listings-page {
	section.list-view-wrp {
		.list-grouping-wrp {
			.section-content {
				max-width: 90%;
				width: 1200px;

				ul {
					list-style: none;
					padding: 20px;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;

					li {
						flex: 0 0 34%;
						background: #fff;
						box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.25);
						margin: 20px;
						padding: 15px;
						background-image: url('/assets/images/icon--arrow--dark.png');
						background-repeat: no-repeat;
						background-size: 30px;
						background-position: bottom 15px right 15px;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						position: relative;

						@media (max-width: 1200px) {
							flex: 0 0 100%;
						}

						&:hover {
							background-position: bottom 15px right 10px;
						}

						p.bridge-name {
							margin: 0 0 5px 0;

							a {
								font-weight: 700;
								font-size: 20px;
							}
						}

						span.bridge-year {
							margin-left: 10px;
							padding: 7px;
							border: 2px solid var(--main-gold);
							border-radius: 10px;
							font-size: 16px;
							background: var(--main-gold);
							color: #fff;
							position: absolute;
							top: 10px;
							right: 10px;
						}

						p.bridge-location {
							margin: 5px 0;
							font-weight: 700;
							font-size: 18px;
						}

						p.truss-type {
							margin: 15px 0;

							a {
								padding: 10px 15px;
								border: 1px solid var(--main-gold);
								border-radius: 10px;
								color: var(--main-gold);

								&:hover {
									border-color: #000;
								}
							}
						}
					}
				}
			}
		}

		table.tableizer-table {
			margin: auto;
			width: 1200px;
			max-width: 90%;
			background: var(--main-grey);

			thead {
				tr.tableizer-firstrow {
					th {
						background-color: var(--main-gold);
						color: #000;
						font-weight: bold;
						font-size: 20px;
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}

			tbody {
				td {
					padding: 4px;
					margin: 3px;
					font-size: 18px;
					border: 1px solid #ccc;
				}
			}
		}
	}

	.map-view-wrp {
		display: none;

		.map-wrp {
			padding: 250px 0;
			background: lightblue;
			margin-bottom: 50px;
			text-align: center;
		}
	}

	.more-bridges-wrp {
		margin: 50px 0;

		.text-wrp {
			background: var(--main-grey);
			width: 1200px;
			max-width: 90%;
			margin: 0 auto;
			padding: 40px 20px 40px 20px;
			text-align: center;

			h2 {
				font-family: 'Caporal Regular', sans-serif;
				text-transform: uppercase;
				margin: 0;
				font-size: 70px;

				@media (max-width: 900px) {
					font-size: 60px;
				}
			}

			h3 {
				font-family: 'Caporal Regular', sans-serif;
				text-transform: uppercase;
				margin: 0;
				font-size: 50px;

				@media (max-width: 900px) {
					font-size: 40px;
				}
			}
		}

		.bridges-wrp {
			width: 1200px;
			max-width: 90%;
			margin: 0 auto;
			padding: 40px 20px 40px 20px;
			text-align: center;
			background: var(--main-grey);
		}
	}
}
