main.bridge-listings-page {
	section.list-view-wrp {
		.list-grouping-wrp {
			.section-content {
				max-width: 95%;
				width: 1400px;

				ul {
					list-style: none;
					background: var(--main-grey);
					padding: 20px;
					box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.25);
					display: flex;
					flex-wrap: wrap;

					li {
						flex: 0 0 48%;

						@media (max-width: 1500px) {
							flex: 0 0 100%;
						}

						a {
							display: flex;
							align-items: center;

							p.bridge-name {
								margin: 10px 15px 10px 0;
								font-weight: 700;
								font-size: 18px;
							}

							p.bridge-location {
								margin: 10px 15px 10px 0;
								font-weight: 700;
								font-size: 16px;
							}

							p.truss-type-year {
							}
						}
					}
				}
			}
		}

		table.tableizer-table {
			margin: auto;
			width: 1200px;
			max-width: 90%;
			background: var(--main-grey);

			thead {
				tr.tableizer-firstrow {
					th {
						background-color: var(--main-gold);
						color: #000;
						font-weight: bold;
						font-size: 20px;
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}

			tbody {
				td {
					padding: 4px;
					margin: 3px;
					font-size: 18px;
					border: 1px solid #ccc;
				}
			}
		}
	}

	.map-view-wrp {
		display: none;

		.map-wrp {
			padding: 250px 0;
			background: lightblue;
			margin-bottom: 50px;
			text-align: center;
		}
	}

	.more-bridges-wrp {
		margin: 50px 0;

		.text-wrp {
			background: var(--main-grey);
			width: 1200px;
			max-width: 90%;
			margin: 0 auto;
			padding: 40px 20px 40px 20px;
			text-align: center;

			h2 {
				font-family: 'Caporal Regular', sans-serif;
				text-transform: uppercase;
				margin: 0;
				font-size: 70px;

				@media (max-width: 900px) {
					font-size: 60px;
				}
			}

			h3 {
				font-family: 'Caporal Regular', sans-serif;
				text-transform: uppercase;
				margin: 0;
				font-size: 50px;

				@media (max-width: 900px) {
					font-size: 40px;
				}
			}
		}

		.bridges-wrp {
			width: 1200px;
			max-width: 90%;
			margin: 0 auto;
			padding: 40px 20px 40px 20px;
			text-align: center;
			background: var(--main-grey);
		}
	}
}
