main.bridge-listings-page {
	.list-view-wrp {
		ul {
			background: #fff;
			list-style: none;
			padding: 40px;
			width: 1200px;
			max-width: 90%;
			margin: 40px auto;

			li {
				display: flex;
				align-items: center;
				cursor: pointer;

				@media (max-width: 500px) {
					flex-direction: column;
				}

				&:hover {
					border-bottom: 1px solid var(--main-gold);
				}

				img {
					width: 200px;
					height: auto;
					margin-right: 80px;

					@media (max-width: 700px) {
						width: 150px;
						margin-right: 40px;
					}
				}

				h2 {
					margin: 15px 30px 15px 0;
					font-size: 30px;
					margin-right: 40px;

					@media (max-width: 700px) {
						font-size: 25px;
						margin-right: 20px;
					}
				}

				p {
					font-size: 20px;

					@media (max-width: 700px) {
						font-size: 16px;
					}
				}
			}
		}
	}

	.map-view-wrp {
		display: none;

		.map-wrp {
			padding: 250px 0;
			background: lightblue;
			margin-bottom: 50px;
			text-align: center;
		}
	}

	.more-bridges-wrp {
		.text-wrp {
			background: var(--main-grey);
			width: 1200px;
			max-width: 90%;
			margin: 0 auto 20px auto;
			padding: 40px 20px 40px 20px;
			text-align: center;

			h2 {
				font-family: 'Caporal Regular', sans-serif;
				text-transform: uppercase;
				margin: 0;
				font-size: 70px;

				@media (max-width: 900px) {
					font-size: 60px;
				}
			}

			h3 {
				font-family: 'Caporal Regular', sans-serif;
				text-transform: uppercase;
				margin: 0;
				font-size: 50px;

				@media (max-width: 900px) {
					font-size: 40px;
				}
			}
		}
		.boxes-wrp {
			display: flex;
			flex-wrap: wrap;
			width: 1200px;
			max-width: 95vw;
			margin: auto;
			justify-content: center;

			.box-wrp {
				position: relative;
				background: var(--main-black);
				color: #fff;
				padding: 40px 20px;
				height: 100px;
				width: 80px;
				flex: 0 0 20%;
				margin-bottom: 30px;
				margin-left: 10px;
				margin-right: 10px;
				cursor: pointer;

				@media (max-width: 1200px) {
					flex: 0 0 28%;
				}

				@media (max-width: 900px) {
					flex: 0 0 35%;
				}

				@media (max-width: 700px) {
					flex: 0 0 51%;
				}

				img.bridge {
					width: 200px;
					height: auto;
					display: flex;
					margin: 0 auto 20px auto;
				}

				p {
					font-family: 'Caporal Regular', sans-serif;
					text-transform: uppercase;
					margin: 0;
					font-size: 30px;
				}

				.triangle-wrp {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 100px 100px;
					border-color: transparent transparent var(--main-gold) transparent;
					position: absolute;
					bottom: 0;
					right: 0;
				}

				.triangle-arrow {
					position: absolute;
					right: 15px;
					bottom: 18px;
					width: 35px;
					height: auto;
				}
			}
		}
	}
}
