main.driving-tours-page {
	section.section-intro-text {
		background: #fff;
		padding: 40px;
		width: 1080px;
		max-width: 80%;
		margin: 50px auto;
	}

	section.driving-tours-wrp {
		.driving-tour-wrp {
			.driving-tour-content {
				background: var(--main-grey);
				display: flex;
				justify-content: space-between;
				width: 1200px;
				max-width: 80%;
				margin: 50px auto 25px auto;

				@media (max-width: 1200px) {
					flex-direction: column;
				}

				.text-wrp {
					padding: 40px;
					flex: 1;
					display: flex;
					flex-direction: column;

					@media (max-width: 1200px) {
						order: 2;
					}

					h3 {
						margin: 0 0 10px 0;
					}

					.stats-wrp {
						display: flex;
						align-items: center;
						margin: 15px 0;

						img {
							margin-right: 30px;
							width: 33px;
							height: auto;
						}

						p {
							margin: 0;
							font-weight: 700;
							font-size: 20px;
						}
					}

					.link-wrp {
						max-width: 300px;
						margin-top: 10px;
						border: 2px solid var(--main-gold);
						border-radius: 4px;
						padding: 15px 30px 15px 30px;
						text-transform: uppercase;
						font-size: 16px;
						background-image: url('/assets/images/icon--download.png');
						background-repeat: no-repeat;
						background-size: 30px;
						background-position: center right 30px;

						&:hover {
							background-position: bottom 5px right 30px;
						}
					}
				}

				.image-wrp {
					flex: 1;
					width: 100%;
					height: auto;

					@media (max-width: 1200px) {
						order: 1;
					}

					img.driving-tour-map {
						width: 100%;
						height: auto;
					}
				}
			}

			.section-engineer-bridges {
				.content {
					.section-content {
						max-width: 80%;

						.boxes-wrp {
							.box-wrp {
								@media (max-width: 750px) {
									flex: 0 0 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}
