/* GENERAL */
/* DESKTOP */
/* MOBILE */
/* MEDIA QUERIES */
.cards-wrp {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
	.flip-card {
		cursor: pointer;
		.front {
			display: flex;
			background-color: var(--main-black);
			.inner {
				border: 1px solid #fff;
			}
		}
		.back {
			background-color: var(--main-gold);
		}
		.inner {
			display: flex;
			align-items: center;
			color: #fff;
			margin: auto;
			height: 90%;
			width: 90%;
		}
		.triangle {
			position: absolute;
			bottom: -4px;
			right: 0;
			img {
				width: 125px;
			}
		}
		h2 {
			margin: 0;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			padding: 20px;
			text-transform: none;
			margin: 0;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			padding: 20px;
			text-transform: none;
		}
		p {
			font-family: 'Montserrat', sans-serif;
			margin: 0;
			text-align: center;
			font-size: 22px;
		}
	}
}
.cards-wrp--mobile {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
	margin: auto;
	.flip-card {
		cursor: pointer;
		margin: 10px 0;
		flex: 0 0 100%;
		height: 200px;
		.front {
			display: flex;
			background-color: var(--main-black);
			.inner {
				border: 1px solid #fff;
			}
		}
		.back {
			background-color: var(--main-gold);
		}
		.inner {
			display: flex;
			align-items: center;
			color: #fff;
			margin: auto;
			height: 90%;
			width: 90%;
		}
		.triangle {
			position: absolute;
			bottom: -4px;
			right: 0;
			img {
				width: 125px;
			}
		}
		h2 {
			margin: 0;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			padding: 20px;
			text-transform: none;
			margin: 0;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			padding: 20px;
			text-transform: none;
		}
		p {
			font-family: 'Montserrat', sans-serif;
			margin: 0;
			text-align: center;
			font-size: 22px;
		}
	}
}
.cards-wrp--home {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	height: 300px;
	justify-content: space-between;
	.flip-card {
		margin: 0 10px;
		flex: 0 0 30%;
		height: 100%;
	}
}
@media (max-width: 900px) {
	.hero-wrp {
		.cards-wrp {
			.flip-card {
				margin: 0 10px;
				flex: 0 0 30%;
				h2 {
					font-size: 16px;
				}
				p {
					font-size: 16px;
				}
			}
		}
	}
}
@media (min-width: 800px) {
	.cards-wrp--mobile {
		display: none;
	}
}
@media (max-width: 800px) {
	.hero-wrp {
		.cards-wrp {
			display: none;
		}
	}
	.hero--monkerai-bridge {
		h1 {
			margin: auto;
		}
	}
}
