.section-about-engineer {
	width: 1200px;
	max-width: 90%;
	margin: 60px auto;
	.content {
		display: flex;
	}
	.cards-wrp {
		margin-right: 25px;
		flex-direction: column;
	}
	.flip-card {
		width: 400px;
		height: 400px;
		margin: 10px 0;
	}
}
.section-engineer-bridges {
	margin-bottom: 100px;
	.feature-bridge {
		position: relative;
		background: var(--main-grey);
		margin: 200px auto 50px auto;
		height: 400px;
		width: 1600px;
		max-width: 95%;
		.cards-wrp {
			position: absolute;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
			height: 80%;
			left: 20px;
		}
		.flip-card {
			z-index: 3;
			width: 40%;
			.front {
				background-color: var(--main-black);
				opacity: 1;
				.inner {
					display: flex;
					flex-direction: column;
					justify-content: center;
					color: #fff;
					font-weight: 700;
					img {
						width: 80px;
					}
				}
				.triangle-wrp {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 140px 140px;
					border-color: transparent transparent var(--main-gold) transparent;
					position: absolute;
					bottom: 0;
					right: 0;
				}
				&:hover {
					.triangle-wrp {
						border-color: transparent transparent var(--main-brown) transparent;
					}
				}
				img.triangle-question {
					position: absolute;
					right: 15px;
					bottom: 18px;
				}
			}
		}
		img.main {
			position: absolute;
			width: 800px;
			max-width: 95%;
			height: auto;
			bottom: 0;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		img.cta {
			position: absolute;
			width: 400px;
			height: auto;
			bottom: 0;
			top: 0;
			margin-top: auto;
			margin-bottom: auto;
			right: 50px;
		}
	}
	.boxes-wrp {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.box-wrp {
		flex: 0 0 32%;
		img {
			width: 100%;
		}
		.content {
			position: relative;
		}
		.cta-wrp {
			background: var(--secondary-black);
			color: #fff;
			position: absolute;
			width: 75%;
			bottom: -30%;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			cursor: pointer;
			h3 {
				margin: 0 0 5px 0;
			}
			p {
				margin: 0 0 15px 0;
			}
			img.bridge {
				width: 130px;
			}
		}
		.cta-content {
			padding: 30px;
		}
		.triangle-wrp {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 100px 100px;
			border-color: transparent transparent var(--main-gold) transparent;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		&:hover {
			.triangle-wrp {
				border-color: transparent transparent var(--main-brown) transparent;
			}
		}
		img.triangle-arrow {
			position: absolute;
			right: 15px;
			bottom: 18px;
			width: 35px;
			height: auto;
		}
	}
}
.section-engineer-bridges.map-view {
	display: none;
}
.section-engineer-bridges.row-wrap {
	.box-wrp {
		margin-bottom: 100px;
	}
}
.engineers-page {
	.page-heading-wrp {
		.top-bar {
			h1 {
				color: #000;
				width: 600px;
				max-width: 90%;
				text-align: center;
			}
		}
	}
	.intro-text {
		.content {
			width: 600px;
			max-width: 90%;
			margin: auto;
		}
	}
}
@media (max-width: 1200px) {
	.section-about-engineer {
		.content {
			flex-direction: column;
		}
		.cards-wrp {
			flex-direction: row;
			width: 100%;
			justify-content: center;
			margin: 0 0 10px 0;
			.flip-card {
				margin-right: 10px;
			}
		}
	}
	.section-engineer-bridges.row-wrap {
		.box-wrp {
			margin-bottom: 20px;
		}
	}
	.section-engineer-bridges {
		.box-wrp {
			.content {
				display: flex;
				flex-direction: column;
			}
			.cta-wrp {
				position: relative;
				width: 100%;
			}
		}
	}
}
@media (max-width: 900px) {
	.section-about-engineer {
		.flip-card {
			flex: 0 0 48%;
		}
	}
}
@media (max-width: 550px) {
	.section-about-engineer {
		.flip-card {
			flex: 0 0 100%;
		}
	}
}
@media (max-width: 1000px) {
	.section-engineer-bridges {
		.feature-bridge {
			margin-top: 100px;
			height: auto;
			display: flex;
			flex-direction: column;
			background: none;
			justify-content: center;
			.cards-wrp {
				position: relative;
				display: flex;
				left: unset;
				margin: auto;
				.flip-card {
					margin: auto;
					height: 400px;
					width: 400px;
				}
			}
			img.main {
				position: relative;
				margin: 30px auto;
			}
			a {
				display: flex;
			}
			img.cta {
				position: relative;
				right: unset;
				margin: auto;
			}
		}
	}
}
@media (max-width: 800px) {
	.section-engineer-bridges {
		.box-wrp {
			flex: 0 0 47%;
			margin: 10px 0;
		}
	}
}
@media (max-width: 500px) {
	.section-engineer-bridges {
		.box-wrp {
			flex: 0 0 100%;
		}
	}
}
