@import url('/styles/global.css');
@import url('/styles/header.css');
@import url('/styles/footer.css');
@import url('/styles/hero.css');
@import url('/styles/slider.css');
@import url('/styles/article.css');
@import url('/styles/resources.css');
@import url('/styles/location-details.css');
@import url('/styles/alert-bar.css');
@import url('/styles/flip-cards.css');
@import url('/styles/social-links.css');
@import url('/styles/media-queries.css');

/* BACKGROUND GRID */
.bg-grid-wrp {
  background: url('assets/images/bg--grid--single.jpg');
  background-repeat: repeat;
  background-size: 80px;
}
.bg-grid-wrp--light {
  background: url('assets/images/bg--grid--single--light.jpg');
  background-repeat: repeat;
  background-size: 80px;
}

/* BANNER */
section.banner {
  padding: 100px;
}
section.banner .content {
  max-width: 1200px;
  margin: auto;
}
section.banner p {
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}
section .section-content {
  width: 1200px;
  max-width: 90%;
  margin: 50px auto;
}

/* MAP */
.section-map .section-heading-wrp {
  background: url(assets/images/bg--grid--single--light.jpg);
}
.section-map .map-wrp {
  border-bottom: 2px solid #000;
  padding: 300px;
  background: #efefef;
  display: flex;
  align-items: center;
}
.section-map .map-wrp h1 {
  margin: 0 auto;
}

/* TIMELINE */
.section-timeline {
  padding-top: 40px;
}
.section-timeline .timeline-wrp {
  margin: 65px auto 0 auto;
  max-width: 95%;
}

/* BRIDGES BANNER */
.section-bridges {
  padding: 80px 0 0 0;
}
.section-bridges .content {
  padding: 60px 30px 30px 30px;
  background: #efefef;
}
.section-bridges .bridges-wrp {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}
.section-bridges .bridge-wrp {
  flex: 0 0 20%;
  text-align: center;
  cursor: pointer;
  margin: 25px 0;
}
.section-bridges .bridge-wrp .bridge-img-wrp img {
  width: 150px;
}
.section-bridges .bridge-wrp p {
  text-transform: uppercase;
  margin: 10px 0;
  font-family: 'Caporal Regular';
  font-size: 20px;
}
.section-bridges .bridge-wrp img {
  width: 20px;
}

/* VIRTUAL BRIDGE */
.section-virtual-view .virtual-wrp {
  margin-top: 60px;
}
