@import url('/styles/global.css');
@import url('/styles/header.css');
@import url('/styles/hero.css');
@import url('/styles/slider.css');
@import url('/styles/article.css');
@import url('/styles/resources.css');
@import url('/styles/location-details.css');
@import url('/styles/alert-bar.css');
@import url('/styles/media-queries.css');

/* SECTION HEADING */
.section-heading-wrp {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--main-brown);
}
.section-heading-wrp h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 33%;
  top: -21px;
  margin: 0 auto -30px auto;
  height: 50px;
  width: 450px;
  font-size: 32px;
  max-width: 90%;
  background: var(--main-brown);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* BACKGROUND GRID */
.bg-grid-wrp {
  background: url('assets/images/bg--grid--single.jpg');
  background-repeat: repeat;
  background-size: 80px;
}
.bg-grid-wrp--light {
  background: url('assets/images/bg--grid--single--light.jpg');
  background-repeat: repeat;
  background-size: 80px;
}

/* BANNER */
section.banner {
  padding: 100px;
}
section.banner .content {
  max-width: 1200px;
  margin: auto;
}
section.banner p {
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}
section .section-content {
  width: 1200px;
  max-width: 90%;
  margin: 50px auto;
}

/* MAP */
.section-map .section-heading-wrp {
  background: url(assets/images/bg--grid--single--light.jpg);
}
.section-map .map-wrp {
  border-bottom: 2px solid #000;
  padding: 300px;
  background: #efefef;
  display: flex;
  align-items: center;
}
.section-map .map-wrp h1 {
  margin: 0 auto;
}

/* TIMELINE */
.section-timeline {
  padding-top: 40px;
}
.section-timeline .timeline-wrp {
  margin: 65px auto 0 auto;
  max-width: 95%;
}

/* BRIDGES BANNER */
.section-bridges {
  padding: 80px 0 0 0;
}
.section-bridges .content {
  padding: 60px 30px 30px 30px;
  background: #efefef;
}
.section-bridges .bridges-wrp {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}
.section-bridges .bridge-wrp {
  flex: 0 0 20%;
  text-align: center;
  cursor: pointer;
  margin: 25px 0;
}
.section-bridges .bridge-wrp .bridge-img-wrp img {
  width: 150px;
}
.section-bridges .bridge-wrp p {
  text-transform: uppercase;
  margin: 10px 0;
  font-family: 'Caporal Regular';
  font-size: 20px;
}
.section-bridges .bridge-wrp img {
  width: 20px;
}

/* SOCIALS  */
.section-social {
  padding: 120px 0 120px 0;
}
.section-social .content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.section-social .boxes-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-social .box-wrp {
  display: flex;
  align-items: center;
  height: 70px;
  background: #efefef;
  flex: 1;
  justify-content: space-between;
  margin: 0 10px;
  position: relative;
}
.section-social .box-wrp .txt-wrp {
  padding-left: 30px;
}
.section-social .box-wrp .txt-wrp p {
  margin: 0;
  padding: 0;
  font-family: 'Caporal Regular';
  font-size: 25px;
}
.section-social .box-wrp .txt-wrp span {
  color: var(--main-gold);
  font-family: 'Caporal Regular';
  font-size: 20px;
}
.section-social .box-wrp .bg-wrp {
  height: 100%;
  width: 80px;
  background: var(--main-gold);
  right: 0;
  position: absolute;
}
.section-social .box-wrp .skew-wrp {
  height: 100%;
  background: var(--main-gold);
  margin: 0 40px 0 0;
  width: 90px;
  transform: skewX(-50deg);
  display: flex;
  align-items: center;
}
.section-social .box-wrp:nth-child(1) .skew-wrp {
  justify-content: space-evenly;
}
.section-social .box-wrp:nth-child(2) .skew-wrp {
  justify-content: space-between;
}
.section-social .box-wrp .book,
.arrow,
.facebook {
  transform: skewX(50deg);
}
.section-social .box-wrp .book {
  width: 120px;
  position: absolute;
  top: -32px;
  right: 60px;
}
.section-social .box-wrp .arrow {
  width: 28px;
  position: absolute;
  right: -25px;
  top: 25px;
}
.section-social .box-wrp .facebook {
  width: 50px;
  position: absolute;
  top: 8px;
  right: -3px;
}

/* VIRTUAL BRIDGE */
.section-virtual-view .virtual-wrp {
  margin-top: 60px;
}
