.hero-wrp {
	position: relative;
	margin-bottom: 0px;
	h1 {
		font-family: 'Caporal Regular', sans-serif;
		text-transform: uppercase;
		font-size: 190px;
		text-align: center;
		color: #fff;
		margin: auto;
		padding: 0;
	}
	h2 {
		font-family: 'Caporal Regular', sans-serif;
		text-transform: uppercase;
	}
	h3 {
		font-family: 'Caporal Regular', sans-serif;
		text-transform: uppercase;
	}
	img.hero-bridge {
		width: 500px;
		max-width: 70%;
		height: auto;
		margin: auto;
	}
	.top-bar {
		height: 100px;
		background: var(--main-grey);
		.text-wrp {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
		}
		.left {
			flex: 1;
			padding-left: 10%;
			height: 100%;
		}
		.right {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex: 0 0 40%;
			height: 100%;
			background: var(--main-black);
		}
		h2.name {
			margin: 0;
			font-size: 90px;
			display: flex;
			align-items: center;
			height: 100%;
		}
		h3.date {
			margin: 0;
			font-size: 55px;
			color: #fff;
		}
		img.bridge {
			width: 300px;
			height: auto;
		}
	}
	.content {
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
.hero--monkerai-bridge {
	h1 {
		margin: 50px auto 0 auto;
	}
	height: 900px;
	.content {
		background: url('/assets/images/hero--monkerai.jpg');
	}
}
.hero--home {
	height: 900px;
	.content {
		background: url('/assets/images/hero.jpg');
	}
}
.hero--engineer {
	height: 900px;
	.content {
		height: 700px;
	}
	.hero-txt-wrp {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto 0 auto auto;
		height: 100%;
		width: 40%;
		background: rgba(177, 163, 41, 0.6);
		h1 {
			text-transform: none;
			font-family: 'Montserrat', sans-serif;
			color: #fff;
			margin: 0;
			padding: 0;
			text-align: center;
			font-size: 80px;
			margin: 0 0 30px 0;
		}
		h2 {
			text-transform: none;
			font-family: 'Montserrat', sans-serif;
			color: #fff;
			margin: 0;
			padding: 0;
			text-align: center;
			font-size: 50px;
			margin: 5px 0;
		}
	}
}
.bg-wrp {
	height: 800px;
}
.hero--percy-allen {
	.content {
		background: url('/assets/images/hero--percy-allen.jpg');
		position: relative;
	}
}
.hero--allen-truss {
	.content {
		background: url('/assets/images/hero--allen-truss.jpg');
	}
}
@media (max-width: 1400px) {
	.hero-wrp {
		h1 {
			font-size: 160px;
		}
		.top-bar {
			h2.name {
				font-size: 80px;
			}
			h3.date {
				font-size: 45px;
			}
			img.bridge {
				width: 200px;
			}
		}
	}
	.hero--engineer {
		.hero-txt-wrp {
			h1 {
				font-size: 65px;
			}
			h2 {
				font-size: 35px;
			}
		}
	}
}
@media (max-width: 1200px) {
	.hero--engineer {
		height: 600px;
		.hero-txt-wrp {
			justify-content: unset;
		}
	}
	.hero-wrp {
		h1 {
			font-size: 120px;
		}
	}
}
@media (max-width: 1000px) {
	.hero-wrp {
		.top-bar {
			h2.name {
				font-size: 70px;
			}
			h3.date {
				font-size: 30px;
			}
			img.bridge {
				width: 150px;
			}
		}
	}
	.hero--engineer {
		.hero-txt-wrp {
			h1 {
				font-size: 50px;
			}
			h2 {
				font-size: 25px;
			}
		}
	}
}
@media (max-width: 900px) {
	.hero--engineer {
		height: 500px;
	}
}
@media (max-width: 750px) {
	.hero--home {
		.content {
			background: url('/assets/images/hero--tablet.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
	}
	.hero-wrp {
		.top-bar {
			.right {
				flex-direction: column;
			}
			h2.name {
				font-size: 50px;
			}
		}
	}
}
@media (max-width: 500px) {
	.hero-wrp {
		.top-bar {
			h2.name {
				font-size: 35px;
			}
		}
	}
	.hero--engineer {
		.hero-txt-wrp {
			h1 {
				font-size: 30px;
			}
			h2 {
				font-size: 20px;
			}
		}
	}
}
