main.search-results-page {
	.page-heading-wrp {
		.top-bar {
			h1 {
				text-align: left;
				width: 900px;
				max-width: 90%;
				margin: 5px auto 0 auto;
			}
		}
	}

	.search-results-list-wrp {
		width: 900px;
		max-width: 90%;
		margin: auto;

		ul {
			padding: 0;

			li {
				list-style: none;
				margin: 50px 0;

				h2 {
					margin-bottom: 0;
					font-size: 22px;
				}

				p {
					cursor: pointer;
					font-size: 16px;

					&:hover {
						color: var(--main-gold);
					}
				}
			}
		}
	}

	.site-map-section {
		.content {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 1200px;
			max-width: 90%;
			margin: 60px auto;

			@media (max-width: 900px) {
				flex-direction: column;
			}

			.btns-wrp {
				display: flex;
				flex-direction: column;

				@media (max-width: 900px) {
					width: 450px;
					max-width: 90%;
				}

				a {
					border: 1px solid #000;
					padding: 15px 60px 15px 15px;
					margin: 10px 0;
					background-image: url(/assets/images/icon--arrow--dark.png);
					background-repeat: no-repeat;
					background-size: 20px;
					background-position: center right 10px;
					transition: all 0.2s;
					font-weight: 700;

					&:hover {
						border-color: var(--main-gold);
						background-position: center right 5px;
					}
				}
			}

			.list-wrp {
				display: flex;
				align-self: normal;
				width: 70%;
				margin: auto;

				@media (max-width: 900px) {
					flex-direction: column;
					margin-top: 40px;
				}

				.list-item {
					margin: 0 40px;
					text-align: center;

					h3 {
						font-size: 22px;
						margin-top: 0;
					}
				}
			}
		}

		.cta-wrp {
			display: flex;
			justify-content: center;

			@media (max-width: 900px) {
				width: 450px;
				max-width: 90%;
				margin: auto;
			}

			a {
				border: 1px solid #000;
				padding: 15px 60px 15px 15px;
				margin: 10px 0;
				background-image: url(/assets/images/icon--arrow--dark.png);
				background-repeat: no-repeat;
				background-size: 20px;
				background-position: center right 10px;
				transition: all 0.2s;
				font-weight: 700;
				text-transform: uppercase;

				&:hover {
					border-color: var(--main-gold);
					background-position: center right 5px;
				}
			}
		}

		.boxes-wrp {
			display: flex;
			justify-content: space-between;
			width: 1280px;
			max-width: 95%;
			margin: 40px auto 0 auto;
			text-align: center;

			@media (max-width: 1280px) {
				flex-direction: column;
			}

			img {
				width: 600px;
				height: auto;
				max-width: 90%;

				@media (max-width: 1280px) {
					margin: 20px auto;
				}
			}
		}
	}

	.section-social {
		@media (max-width: 1300px) {
			margin: 40px 0;
		}

		.content {
			.boxes-wrp {
				.box-wrp {
					width: 50%;
					margin: auto;
				}
			}
		}
	}
}
