.section-article {
  width: 1200px;
  max-width: 95%;
  margin: 40px auto;
}
.section-article a {
  color: inherit;
}
.section-article .content {
  display: flex;
}
.section-article .left-wrp .facts-bar-wrp {
  background: var(--main-black);
  padding: 30px;
  color: #fff;
}
.section-article .left-wrp .facts-bar-wrp h3 {
  font-size: 24px;
  margin-top: 0;
}
.section-article .left-wrp .map-wrp {
  height: 200px;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.section-article .cta-wrp {
  background: var(--main-gold);
  color: #fff;
  padding: 15px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right 20px center;
  color: #fff;
  background-image: url('/assets/images/icon--arrow--dark.png');
}
.section-article .cta-wrp:hover {
  background-position: right 10px center;
  background-color: var(--main-brown);
}
.section-article .cta-wrp a {
  display: flex;
  text-decoration: none;
  position: relative;
  width: 100%;
}
.section-article .cta-wrp p {
  margin: auto;
  font-size: 22px;
}
.section-article .cta-wrp img {
  position: absolute;
  right: 0;
}
.section-article .right-wrp .content {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px 90px;
}
.section-article .quote-para {
  display: flex;
  align-items: center;
}
.section-article .right-wrp .content h2,
.section-article .right-wrp .content h3,
.section-article .right-wrp .content p {
  font-family: Avenir;
}
.section-article .right-wrp .content h2 {
  margin-top: 0;
}
.section-article .right-wrp .content p {
  margin: 10px 0;
}
.section-article .right-wrp .content .quote {
  color: var(--main-gold);
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  font-family: Avenir;
}
.section-article .right-wrp .content .quote-para.left p:first-child {
  order: 1;
  padding-left: 20px;
}
.section-article .right-wrp .content .quote-para.right p:first-child {
  order: 0;
  padding-right: 20px;
}
.section-article .img-article--full {
  width: 100%;
}
.section-article .img-article--small {
  width: 150px;
}
@media (max-width: 1000px) {
  .section-article .content {
    flex-direction: column;
  }
  .section-article .content .right-wrp {
    margin-top: 20px;
  }
  .section-article .content .right-wrp .content {
    padding: 30px;
  }
}
