/* NEXT/PREV BRIDGES */
.section-next-prev-bridges {
	.section-content {
		.boxes-wrp {
			.box-wrp {
				flex: 0 0 33%;
				background: var(--main-grey);
				padding: 30px 20px;
				margin: 0 20px;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				align-items: center;

				@media (max-width: 800px) {
					flex: 0 0 20%;
					margin: 20px 0;
				}

				&:nth-child(1) {
					text-align: right;
					background-image: url(/assets/images/icon--arrow-left.png);
					background-repeat: no-repeat;
					background-size: 30px;
					background-position: center bottom 10px;

					&:hover {
						color: var(--main-gold);
					}
				}

				&:nth-child(2) {
					background-image: url(/assets/images/icon--arrow--dark.png);
					background-repeat: no-repeat;
					background-size: 30px;
					background-position: center bottom 10px;

					&:hover {
						color: var(--main-gold);
					}
				}
			}
		}
	}
}
