main.bridge-listings-page .list-view-wrp ul {
  background: #fff;
  list-style: none;
  padding: 40px;
  width: 900px;
  max-width: 90%;
  margin: 40px auto;
}

main.bridge-listings-page .list-view-wrp ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  main.bridge-listings-page .list-view-wrp ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.bridge-listings-page .list-view-wrp ul li h2 {
  margin: 15px 30px 15px 0;
  font-size: 30px;
  cursor: pointer;
}

main.bridge-listings-page .list-view-wrp ul li h2:hover {
  color: var(--main-gold);
}

main.bridge-listings-page .map-view-wrp {
  display: none;
}

main.bridge-listings-page .map-view-wrp .map-wrp {
  padding: 250px 0;
  background: lightblue;
  margin-bottom: 50px;
  text-align: center;
}

main.bridge-listings-page .more-bridges-wrp .text-wrp {
  background: var(--main-grey);
  width: 1200px;
  max-width: 90%;
  margin: 0 auto 20px auto;
  padding: 40px 20px 40px 20px;
  text-align: center;
}

main.bridge-listings-page .more-bridges-wrp .text-wrp h2 {
  font-family: 'Caporal Regular', sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 70px;
}

@media (max-width: 900px) {
  main.bridge-listings-page .more-bridges-wrp .text-wrp h2 {
    font-size: 60px;
  }
}

main.bridge-listings-page .more-bridges-wrp .text-wrp h3 {
  font-family: 'Caporal Regular', sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 50px;
}

@media (max-width: 900px) {
  main.bridge-listings-page .more-bridges-wrp .text-wrp h3 {
    font-size: 40px;
  }
}

main.bridge-listings-page .more-bridges-wrp .boxes-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  max-width: 95vw;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.bridge-listings-page .more-bridges-wrp .boxes-wrp .box-wrp {
  position: relative;
  background: var(--main-black);
  color: #fff;
  padding: 40px 20px;
  height: 100px;
  width: 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  main.bridge-listings-page .more-bridges-wrp .boxes-wrp .box-wrp {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
            flex: 0 0 28%;
  }
}

@media (max-width: 900px) {
  main.bridge-listings-page .more-bridges-wrp .boxes-wrp .box-wrp {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
}

@media (max-width: 700px) {
  main.bridge-listings-page .more-bridges-wrp .boxes-wrp .box-wrp {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 51%;
            flex: 0 0 51%;
  }
}

main.bridge-listings-page .more-bridges-wrp .boxes-wrp .box-wrp img.bridge {
  width: 200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px auto;
}

main.bridge-listings-page .more-bridges-wrp .boxes-wrp .box-wrp p {
  font-family: 'Caporal Regular', sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
}

main.bridge-listings-page .more-bridges-wrp .boxes-wrp .box-wrp .triangle-wrp {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 100px;
  border-color: transparent transparent var(--main-gold) transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

main.bridge-listings-page .more-bridges-wrp .boxes-wrp .box-wrp .triangle-arrow {
  position: absolute;
  right: 15px;
  bottom: 18px;
  width: 35px;
  height: auto;
}
/*# sourceMappingURL=bridge-listings.css.map */