form.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 900px;
  max-width: 95%;
  background: var(--main-grey);
  padding: 40px;
}
form.contact-form .form-item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  max-width: 90%;
}
form.contact-form label {
  font-size: 28px;
}
form.contact-form input {
  background: none;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 22px;
  margin-top: 15px;
  color: var(--main-black);
  padding-left: 10px;
  border-bottom: 2px solid var(--main-gold);
}
form.contact-form input.textarea {
  height: 150px;
}
form.contact-form input::placeholder {
  color: var(--main-black);
  opacity: 1;
  font-weight: 500;
  text-align: center;
}
form.contact-form .cta-wrp {
  width: 50%;
  height: 50px;
  background-color: var(--main-gold);
  border-radius: 5px;
  opacity: 1;
  margin: 30px auto 30px 0;
  background-image: url('/assets/images/icon--arrow--dark.png');
  background-repeat: no-repeat;
  background-position: center right 30px;
  transition: all 0.3s;
}
form.contact-form .cta-wrp:hover {
  background-position: center right 15px;
}
form.contact-form .cta-wrp button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 25px;
  text-align: left;
  margin-left: 10px;
}
@media (max-width: 700px) {
  form.contact-form label {
    font-size: 22px;
  }
  form.contact-form input {
    font-size: 18px;
    height: 40px;
    margin-top: 5px;
  }
  form.contact-form .cta-wrp {
    width: 80%;
  }
}
