/* GENERAL */
.cards-wrp,
.cards-wrp--mobile {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}
.cards-wrp .flip-card,
.cards-wrp--mobile .flip-card {
  cursor: pointer;
}
.cards-wrp .flip-card .front,
.cards-wrp--mobile .flip-card .front {
  display: flex;
  background-color: var(--main-black);
}
.cards-wrp .flip-card .back,
.cards-wrp--mobile .flip-card .back {
  background-color: var(--main-brown);
}
.cards-wrp .flip-card .inner,
.cards-wrp--mobile .flip-card .inner {
  display: flex;
  align-items: center;
  color: #fff;
  margin: auto;
  height: 90%;
  width: 90%;
}
.cards-wrp .flip-card .front .inner,
.cards-wrp--mobile .flip-card .front .inner {
  border: 1px solid #fff;
}
.cards-wrp .flip-card .triangle,
.cards-wrp--mobile .flip-card .triangle {
  position: absolute;
  bottom: -4px;
  right: 0;
}
.cards-wrp .flip-card .triangle img,
.cards-wrp--mobile .flip-card .triangle img {
  width: 125px;
}
.cards-wrp .flip-card h2,
.cards-wrp--mobile .flip-card h2 {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 20px;
}
.cards-wrp .flip-card p,
.cards-wrp--mobile .flip-card p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
  font-size: 22px;
}

/* DESKTOP */
.cards-wrp {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  height: 300px;
  justify-content: space-between;
}
.cards-wrp .flip-card {
  margin: 0 10px;
  flex: 0 0 30%;
  height: 100%;
}

/* MOBILE */
.cards-wrp--mobile {
  margin: auto;
}
.cards-wrp--mobile .flip-card {
  margin: 10px 0;
  flex: 0 0 100%;
  height: 200px;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .cards-wrp .flip-card {
    margin: 0 10px;
    flex: 0 0 30%;
  }
  .cards-wrp .flip-card h2 {
    font-size: 16px;
  }
  .cards-wrp .flip-card p {
    font-size: 16px;
  }
}
@media (min-width: 700px) {
  .cards-wrp--mobile {
    display: none;
  }
}
@media (max-width: 700px) {
  .cards-wrp {
    display: none;
  }
}
