.cards-wrp {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1053px; /* same width as active slider */
  height: 300px;
  max-width: 95%;
  justify-content: space-between;
}
.cards-wrp .flip-card {
  margin: 0 10px;
  flex: 0 0 30%;
  height: 100%;
  cursor: pointer;
}
.cards-wrp .flip-card .front {
  display: flex;
  background-color: var(--main-black);
}
.cards-wrp .flip-card .back {
  background: var(--main-brown);
}
.cards-wrp .flip-card .inner {
  display: flex;
  align-items: center;
  color: #fff;
  margin: auto;
  height: 90%;
  width: 90%;
}
.cards-wrp .flip-card .front .inner {
  border: 1px solid #fff;
}
.cards-wrp .flip-card .triangle {
  position: absolute;
  bottom: -4px;
  right: 0;
}
.cards-wrp .flip-card .triangle img {
  width: 125px;
}
.cards-wrp .flip-card h2 {
  margin: 0;
  text-align: center;
  font-family: AppleGothic;
}
.cards-wrp .flip-card p {
  margin: 0;
  text-align: center;
  font-size: 22px;
}
/* MOBILE */
.cards-wrp--mobile {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  margin: auto;
}
.cards-wrp--mobile .flip-card {
  margin: 10px 0;
  flex: 0 0 100%;
  height: 200px;
}
.cards-wrp--mobile .flip-card .front {
  display: flex;
  background-color: var(--main-black);
}
.cards-wrp--mobile .flip-card .back {
  background: var(--main-brown);
}
.cards-wrp--mobile .flip-card .inner {
  display: flex;
  align-items: center;
  color: #fff;
  margin: auto;
  height: 90%;
  width: 90%;
}
.cards-wrp--mobile .flip-card .front .inner {
  border: 1px solid #fff;
}
.cards-wrp--mobile .flip-card .triangle {
  position: absolute;
  bottom: -4px;
  right: 0;
}
.cards-wrp--mobile .flip-card .triangle img {
  width: 125px;
}
.cards-wrp--mobile .flip-card h2 {
  margin: 0;
  text-align: center;
  font-family: AppleGothic;
}
.cards-wrp--mobile .flip-card p {
  margin: 0;
  text-align: center;
  font-size: 22px;
}

@media (max-width: 900px) {
  .cards-wrp .flip-card {
    margin: 0 10px;
    flex: 0 0 26%;
  }
  .cards-wrp .flip-card h2 {
    font-size: 16px;
  }
  .cards-wrp .flip-card p {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  .cards-wrp--mobile {
    display: none;
  }
}
@media (max-width: 600px) {
  .cards-wrp {
    display: none;
  }
}
