footer {
  background: var(--main-black);
  padding: 120px 0;
  border-top: 8px solid var(--main-gold);
}
footer .content {
  display: flex;
  flex-direction: column;
}
footer .nav-desktop ul {
  list-style: none;
}
