footer {
	position: relative;
	background: var(--main-black);
	padding: 120px 0;
	border-top: 8px solid var(--main-gold);

	.content {
		display: flex;
		max-width: 90%;
		margin: auto;
	}

	.logo-wrp {
		margin: auto 0 auto auto;

		img {
			width: 200px;
			height: auto;
			top: 50px;
			left: 100px;
		}
	}

	.links-wrp {
		display: flex;
		flex-direction: column;
		width: 775px;
		max-width: 90%;
		margin: auto auto auto 0;
	}

	.top {
		margin-bottom: 40px;
	}

	nav {
		ul {
			list-style: none;
			padding: 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			li {
				color: #fff;
				font-size: 20px;
				margin: 0 5px;

				&:hover {
					color: var(--main-gold);
				}

				&:nth-child(1) {
					margin-left: 0;
				}
			}
		}
	}

	.bottom {
		display: flex;
		color: #fff;
		margin: auto auto auto 0;

		p {
			margin: auto 0 0 0;
			font-size: 18px;
		}
	}

	img.tfnsw-logo {
		margin-right: 20px;
		width: 180px;
		height: auto;
	}
}

@media (max-width: 1000px) {
	footer {
		padding: 80px 0;

		.content {
			max-width: 80%;
		}

		.top {
			margin-bottom: 20px;
		}

		nav {
			ul {
				text-align: center;

				li {
					flex: 0 0 100%;
					margin: 10px 0;
				}
			}
		}

		.bottom {
			flex-direction: column;
			margin: auto;
		}

		img.tfnsw-logo {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 500px) {
	footer {
		.content {
			flex-direction: column;

			.logo-wrp {
				margin: 0 auto 0 0;
			}
		}

		nav {
			ul {
				margin-top: 0;
			}
		}
	}
}
