/* FONTS */
@font-face {
  font-family: 'Caporal Regular';
  src: url('/fonts/CaporalRegular205TF/Caporal\ -\ Regular-205TF.eot');
  src: url('/fonts/CaporalRegular205TF/Caporal\ -\ Regular-205TF.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CaporalRegular205TF/Caporal\ -\ Regular-205TF.woff2') format('woff2'),
    url('/fonts/CaporalRegular205TF/Caporal\ -\ Regular-205TF.woff') format('woff'),
    url('/fonts/CaporalRegular205TF/Caporal\ -\ Regular-205TF.ttf') format('truetype'),
    url('/fonts/CaporalRegular205TF/Caporal\ -\ Regular-205TF.svg#CaporalRegular205TF') format('svg');
}
@font-face {
  font-family: 'Apple Gothic Regular';
  src: url('/fonts/AppleGothicRegular/applegothic-regular.ttf') format('truetype');
}

/* VARIABLES */
:root {
  --main-gold: #b1a329;
  --main-brown: #b7652a;
  --main-black: #202120;
  --main-grey: #efecea;
  --main-red: #ed1c24;
}

/* GLOBAL */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Caporal Regular';
}
p,
span {
  font-family: AppleGothic;
  font-size: 16px;
}
li {
  font-family: AppleGothic;
}
button {
  cursor: pointer;
}

/* SECTION HEADING */
.section-heading-wrp {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--main-brown);
}
.section-heading-wrp h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 33%;
  top: -21px;
  margin: 0 auto -30px auto;
  height: 50px;
  width: 450px;
  font-size: 32px;
  max-width: 90%;
  background: var(--main-brown);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
