header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px 40px 40px;
}
header .left {
  position: relative;
}
header .left .logo-wrp {
  position: absolute;
  top: -36px;
  left: -10px;
}
header .left .logo-wrp img {
  width: 180px;
}
header .right {
  text-align: right;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  border-bottom: 3px solid #fff;
  margin: 0 20px;
  font-size: 22px;
}
header nav ul li:first-child {
  margin-left: 0;
}
header nav ul li:last-child {
  margin-right: 0;
}
header nav ul li.active {
  border-bottom: 3px solid var(--main-gold);
  padding-bottom: 2px;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
header nav ul li img {
  width: 45px;
}
header .nav-mobile {
  height: 100px;
}
header .nav-mobile ul {
  padding: 40px 20px;
}
header .nav-mobile ul li {
  margin: 0;
}
.hamburger {
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--main-brown);
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--main-gold);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}
.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider-r .hamburger-inner::after {
  top: 20px;
}
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}
@media (min-width: 900px) {
  header .hamburger,
  header .nav-mobile {
    display: none;
  }
}
@media (max-width: 900px) {
  header .nav-desktop {
    display: none;
  }
  header .content {
    padding: 40px;
  }
  header .nav-mobile {
    padding: 40px;
  }
  header .left .logo-wrp img {
    width: 120px;
  }
  header nav ul {
    align-items: center;
  }
}
@media (max-width: 600px) {
  header .nav-mobile {
    height: auto;
  }
  header .nav-mobile ul {
    flex-direction: column;
    padding: 0;
  }
  header .nav-mobile ul li {
    margin: 5px 0;
    width: 100%;
  }
  header .nav-mobile ul li a {
    font-size: 20px;
    justify-content: center;
  }
}
