.hero-wrp {
  position: relative;
  margin-bottom: 0px;
}
.hero--home,
.hero--monkerai-bridge {
  height: 900px;
}
.bg-wrp {
  height: 800px;
}
.hero--home .content {
  background: url('/assets/images/hero.jpg');
}
.hero--monkerai-bridge .content {
  background: url('/assets/images/hero--monkerai.jpg');
}
.hero--percy-allen .content {
  background: url('/assets/images/hero--percy-allen.jpg');
  position: relative;
}
.hero--allen-truss .content {
  background: url('/assets/images/hero--allen-truss.jpg');
}
.hero-wrp .content {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-wrp h1 {
  font-size: 190px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 50px 0 0 0;
  font-family: 'Caporal Regular', sans-serif;
}
@media (max-width: 1400px) {
  .hero-wrp h1 {
    font-size: 160px;
  }
}
@media (max-width: 1200px) {
  .bg-wrp {
    height: 520px;
  }
  .hero-wrp h1 {
    font-size: 80px;
  }
}
@media (max-width: 900px) {
  .bg-wrp {
    height: 400px;
  }
}
@media (max-width: 750px) {
  .hero--home .content {
    background: url('/assets/images/hero--tablet.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
