.hero-wrp {
  position: relative;
  margin-bottom: 0px;
}
.hero-wrp h1,
.hero-wrp h2,
.hero-wrp h3 {
  font-family: 'Caporal Regular', sans-serif;
  text-transform: uppercase;
}
.hero-wrp h1 {
  font-size: 190px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 50px 0 0 0;
}
.hero--home,
.hero--monkerai-bridge {
  height: 900px;
}
.bg-wrp {
  height: 800px;
}
.hero--engineer .content {
  height: 700px;
}
.hero-wrp .top-bar {
  height: 100px;
  background: var(--main-grey);
}
.hero-wrp .top-bar .text-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.hero-wrp .top-bar .left {
  flex: 1;
  padding-left: 10%;
  height: 100%;
}
.hero-wrp .top-bar .right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 0 0 40%;
  height: 100%;
  background: var(--main-black);
}
.hero-wrp .top-bar h2.name {
  margin: 0;
  font-size: 90px;
  display: flex;
  align-items: center;
  height: 100%;
}
.hero-wrp .top-bar h3.date {
  margin: 0;
  font-size: 55px;
  color: #fff;
}
.hero-wrp .top-bar img.bridge {
  width: 300px;
  height: auto;
}
.hero--home .content {
  background: url('/assets/images/hero.jpg');
}
.hero--monkerai-bridge .content {
  background: url('/assets/images/hero--monkerai.jpg');
}
.hero--percy-allen .content {
  background: url('/assets/images/hero--percy-allen-4.jpg');
  position: relative;
}
.hero--allen-truss .content {
  background: url('/assets/images/hero--allen-truss.jpg');
}
.hero-wrp .content {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero--engineer .hero-txt-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0 auto auto;
  height: 100%;
  width: 40%;
  background: rgba(177, 163, 41, 0.6);
}
.hero--engineer .hero-txt-wrp h1,
.hero--engineer .hero-txt-wrp h2 {
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}
.hero--engineer .hero-txt-wrp h1 {
  font-size: 80px;
  margin: 0 0 30px 0;
}
.hero--engineer .hero-txt-wrp h2 {
  font-size: 50px;
  margin: 5px 0;
}
@media (max-width: 1400px) {
  .hero-wrp h1 {
    font-size: 160px;
  }
  .hero-wrp .top-bar h2.name {
    font-size: 80px;
  }
  .hero-wrp .top-bar h3.date {
    font-size: 45px;
  }
  .hero-wrp .top-bar img.bridge {
    width: 200px;
  }
  .hero--engineer .hero-txt-wrp h1 {
    font-size: 65px;
  }
  .hero--engineer .hero-txt-wrp h2 {
    font-size: 35px;
  }
}
@media (max-width: 1200px) {
  .bg-wrp {
    height: 520px;
  }
  .hero-wrp h1 {
    font-size: 80px;
  }
}
@media (max-width: 1000px) {
  .hero-wrp .top-bar h2.name {
    font-size: 70px;
  }
  .hero-wrp .top-bar h3.date {
    font-size: 30px;
  }
  .hero-wrp .top-bar img.bridge {
    width: 150px;
  }
  .hero--engineer .hero-txt-wrp h1 {
    font-size: 50px;
  }
  .hero--engineer .hero-txt-wrp h2 {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  .bg-wrp {
    height: 400px;
  }
}
@media (max-width: 750px) {
  .hero--home .content {
    background: url('/assets/images/hero--tablet.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .hero-wrp .top-bar .right {
    flex-direction: column;
  }
  .hero-wrp .top-bar h2.name {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .hero-wrp .top-bar h2.name {
    font-size: 35px;
  }
  .hero--engineer .hero-txt-wrp h1 {
    font-size: 30px;
  }
  .hero--engineer .hero-txt-wrp h2 {
    font-size: 20px;
  }
}
