.hero-wrp {
  height: 900px;
  position: relative;
  margin-bottom: 0px;
}
.bg-wrp {
  height: 800px;
}
.hero-home .content {
  background: url('/assets/images/hero.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-monkerai .content {
  background: url('/assets/images/hero--monkerai.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-wrp h1 {
  font-size: 190px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 50px 0 0 0;
}
@media (max-width: 1400px) {
  .hero-wrp h1 {
    font-size: 160px;
  }
}
@media (max-width: 1200px) {
  .hero-wrp {
    height: 600px;
  }
  .bg-wrp {
    height: 520px;
  }
  .hero-wrp h1 {
    font-size: 80px;
  }
}
@media (max-width: 900px) {
  .hero-wrp {
    height: 450px;
  }
  .bg-wrp {
    height: 400px;
  }
}
@media (max-width: 750px) {
  .hero-home .content {
    background: url('/assets/images/hero--tablet.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  .hero-wrp .content {
    justify-content: center;
  }
}
