@media (max-width: 1300px) {
  .section-social {
    padding: 0;
  }
  .section-social .boxes-wrp {
    flex-direction: column;
  }
  .section-social .box-wrp {
    margin: 30px 0;
  }
}
@media (min-width: 900px) {
  header .hamburger,
  header .nav-mobile {
    display: none;
  }
}
@media (max-width: 900px) {
  header .nav-desktop {
    display: none;
  }
  header .content {
    padding: 40px;
  }
  header .nav-mobile {
    padding: 40px;
  }
  header .left .logo-wrp img {
    width: 120px;
  }
  header nav ul {
    align-items: center;
  }
  .section-map .map-wrp {
    padding: 150px;
  }
  .section-bridges .bridges-wrp {
    justify-content: center;
  }
  .section-bridges .bridge-wrp {
    flex: 0 0 33%;
  }
}
@media (max-width: 750px) {
  section.banner {
    padding: 50px;
  }
  .section-social .box-wrp .txt-wrp p {
    font-size: 25px;
  }
  .section-social .box-wrp .txt-wrp span {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  header .nav-mobile {
    height: auto;
  }
  header .nav-mobile ul {
    flex-direction: column;
    padding: 0;
  }
  header .nav-mobile ul li {
    margin: 5px 0;
    width: 100%;
  }
  header .nav-mobile ul li a {
    font-size: 20px;
    justify-content: center;
  }
  .section-heading-wrp h2 {
    font-size: 25px;
  }
  .section-map .map-wrp {
    padding: 0;
    height: 200px;
  }
  section.banner p {
    font-size: 18px;
  }
  .section-bridges .bridge-wrp {
    flex: 0 0 50%;
  }
  .section-social .box-wrp .txt-wrp p {
    font-size: 18px;
  }
  .section-social .box-wrp .txt-wrp span {
    font-size: 16px;
  }
  .section-social .box-wrp .logo-wrp .book {
    width: 90px;
    top: -15px;
  }
}
