@media (max-width: 1300px) {
  .section-social {
    padding: 0;
  }
  .section-social .boxes-wrp {
    flex-direction: column;
  }
  .section-social .box-wrp {
    margin: 30px 0;
  }
}
@media (max-width: 900px) {
  .section-map .map-wrp {
    padding: 150px;
  }
  .section-bridges .bridges-wrp {
    justify-content: center;
  }
  .section-bridges .bridge-wrp {
    flex: 0 0 33%;
  }
}
@media (max-width: 750px) {
  section.banner {
    padding: 50px;
  }
  .section-social .box-wrp .txt-wrp p {
    font-size: 25px;
  }
  .section-social .box-wrp .txt-wrp span {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .section-heading-wrp h2 {
    font-size: 25px;
  }
  .section-map .map-wrp {
    padding: 0;
    height: 200px;
  }
  section.banner p {
    font-size: 18px;
  }
  .section-bridges .bridge-wrp {
    flex: 0 0 50%;
  }
  .section-social .box-wrp .txt-wrp p {
    font-size: 18px;
  }
  .section-social .box-wrp .txt-wrp span {
    font-size: 16px;
  }
  .section-social .box-wrp .logo-wrp .book {
    width: 90px;
    top: -15px;
  }
}
