@media (max-width: 900px) {
  .section-map .map-wrp {
    padding: 150px;
  }
  .section-bridges .bridges-wrp {
    justify-content: center;
  }
  .section-bridges .bridge-wrp {
    flex: 0 0 33%;
  }
}
@media (max-width: 750px) {
  section.banner {
    padding: 50px;
  }
}
@media (max-width: 600px) {
  .section-heading-wrp h2 {
    font-size: 25px;
  }
  .section-map .map-wrp {
    padding: 0;
    height: 200px;
  }
  section.banner p {
    font-size: 18px;
  }
  .section-bridges .bridge-wrp {
    flex: 0 0 50%;
  }
}
