/* FLEX SECTION */
.section-flex .content {
  display: flex;
}

/* SECTION HEADING */
.section-heading-wrp {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--main-brown);
}
.section-heading-wrp.black {
  border-bottom: 2px solid #000;
}
.section-heading-wrp h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 33%;
  top: -21px;
  margin: 0 auto -30px auto;
  height: 70px;
  width: 550px;
  font-size: 50px;
  max-width: 90%;
  background: var(--main-brown);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Caporal Regular', sans-serif;
}
.section-heading-wrp.black h2 {
  background: #000;
}
@media (max-width: 600px) {
  .section-heading-wrp h2 {
    font-size: 25px;
  }
}

/* BACKGROUND GRID */
.bg-grid-wrp {
  background: url('/assets/images/grid.svg');
}

/* BANNER */
section.banner {
  position: relative;
}
section .light-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.2;
}
section.banner .content {
  padding: 100px;
  max-width: 1200px;
  margin: auto;
}
section.banner p {
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}
section .section-content {
  width: 1200px;
  max-width: 90%;
  margin: 50px auto;
}
@media (max-width: 1000px) {
  section.banner .content {
    padding: 60px;
  }
}
@media (max-width: 600px) {
  section.banner .content {
    padding: 20px;
  }
  section.banner p {
    font-size: 18px;
  }
}

/* MAP */
.section-map .section-heading-wrp {
  background: url(assets/images/bg--grid--single--light.jpg);
}
.section-map .map-wrp {
  border-bottom: 2px solid #000;
  padding: 300px;
  background: #efefef;
  display: flex;
  align-items: center;
}
.section-map .map-wrp h1 {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .section-map .map-wrp {
    padding: 150px;
  }
}
@media (max-width: 600px) {
  .section-map .map-wrp {
    padding: 0;
    height: 200px;
  }
}

/* TIMELINE */
.section-timeline {
  padding-top: 40px;
}
.section-timeline .timeline-wrp {
  margin: 65px auto 0 auto;
  max-width: 95%;
}

/* BRIDGES BANNER */
.section-bridges {
  padding: 80px 0 0 0;
}
.section-bridges .content {
  padding: 60px 30px 30px 30px;
  background: #efefef;
}
.section-bridges .bridges-wrp {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}
.section-bridges .bridge-wrp {
  flex: 0 0 20%;
  text-align: center;
  cursor: pointer;
  margin: 25px 0;
  transition: all 0.2s ease;
  background: url('/assets/images/icon--arrow.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 30px;
  height: 110px;
}
.section-bridges .bridge-wrp:hover {
  background-position: right 80px bottom;
}
.section-bridges .bridge-wrp .bridge-img-wrp img {
  width: 150px;
}
.section-bridges .bridge-wrp p {
  text-transform: uppercase;
  margin: 10px 0;
  font-family: 'Caporal Regular';
  font-size: 20px;
}
.section-bridges .bridge-wrp img {
  width: 20px;
}
@media (max-width: 900px) {
  .section-bridges .bridges-wrp {
    justify-content: center;
  }
  .section-bridges .bridge-wrp {
    flex: 0 0 33%;
  }
}
@media (max-width: 600px) {
  .section-bridges .bridge-wrp {
    flex: 0 0 50%;
  }
}

/* VIRTUAL BRIDGE */
.section-virtual-view .virtual-wrp {
  margin-top: 60px;
}

/* TRIANGLE */
.box-wrp .triangle {
  position: absolute;
  bottom: -4px;
  right: 0;
  z-index: 9;
}
.box-wrp .triangle img {
  width: 100px;
}

/* BRIDGE DIAGRAM */
.bridge-diagram-wrp {
  background: var(--secondary-grey);
  padding: 100px;
}
.bridge-diagram-wrp h2 {
  font-family: 'Caporal Regular', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--brown-grey);
  font-size: 30px;
}
.bridge-diagram-wrp img {
  width: 100%;
}
@media (max-width: 1200px) {
  .bridge-diagram-wrp {
    padding: 70px;
  }
  .bridge-diagram-wrp h2 {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .bridge-diagram-wrp {
    padding: 40px;
  }
  .bridge-diagram-wrp h2 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .bridge-diagram-wrp {
    padding: 20px;
  }
}

/* ENGINEER CTA */
.section-engineer-cta {
  background: var(--main-grey);
  height: 600px;
}
.section-engineer-cta .section-content {
  position: relative;
  height: 600px;
  width: 600px;
}
.section-engineer-cta.percy-allen .main-tile {
  background: url('/assets/images/engineer-cta.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
.section-engineer-cta.percy-allen .main-tile a {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--main-black);
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
}
.section-engineer-cta .profile-pic-tile {
  width: 300px;
  height: auto;
}
