/* FLEX SECTION */
.section-flex .content {
  display: flex;
}

/* SECTION HEADING */
.section-heading-wrp {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--main-brown);
}
.section-heading-wrp.black {
  border-bottom: 2px solid #000;
}
.section-heading-wrp h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 33%;
  top: -21px;
  margin: 0 auto -30px auto;
  height: 70px;
  width: 550px;
  font-size: 40px;
  max-width: 90%;
  background: var(--main-brown);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Caporal Regular', sans-serif;
}
.section-heading-wrp.black h2 {
  background: #000;
}
@media (max-width: 600px) {
  .section-heading-wrp h2 {
    font-size: 25px;
  }
}

/* BACKGROUND GRID */
.bg-grid-wrp {
  background: url('/assets/images/grid.svg');
}

/* BANNER */
section.banner {
  position: relative;
}
section .light-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.2;
}
section.banner .content {
  padding: 100px;
  max-width: 1200px;
  margin: auto;
}
section.banner p {
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}
section .section-content {
  width: 1200px;
  max-width: 90%;
  margin: 50px auto;
}
@media (max-width: 1000px) {
  section.banner .content {
    padding: 60px;
  }
}
@media (max-width: 600px) {
  section.banner .content {
    padding: 20px;
  }
  section.banner p {
    font-size: 18px;
  }
}

/* MAP */
.section-map .map-wrp {
  border-bottom: 2px solid #000;
  padding: 300px;
  background: #efefef;
  display: flex;
  align-items: center;
}
.section-map .map-wrp h1 {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .section-map .map-wrp {
    padding: 150px;
  }
}
@media (max-width: 600px) {
  .section-map .map-wrp {
    padding: 0;
    height: 200px;
  }
}

/* TIMELINE */
.section-timeline {
  padding-top: 40px;
}
.section-timeline .timeline-wrp {
  margin: 65px auto 0 auto;
  max-width: 95%;
}

/* BRIDGES BANNER */
.section-bridges {
  padding: 80px 0 0 0;
}
.section-bridges .content {
  padding: 60px 30px 30px 30px;
  background: #efefef;
}
.section-bridges .bridges-wrp {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}
.section-bridges .bridge-wrp {
  flex: 0 0 20%;
  text-align: center;
  cursor: pointer;
  margin: 25px 0;
  transition: all 0.2s ease;
  background: url('/assets/images/icon--arrow.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 30px;
  height: 110px;
}
.section-bridges .bridge-wrp:hover {
  background-position: right 80px bottom;
}
.section-bridges .bridge-wrp .bridge-img-wrp img {
  width: 150px;
}
.section-bridges .bridge-wrp p {
  text-transform: uppercase;
  margin: 10px 0;
  font-family: 'Caporal Regular';
  font-size: 20px;
}
.section-bridges .bridge-wrp img {
  width: 20px;
}
@media (max-width: 900px) {
  .section-bridges .bridges-wrp {
    justify-content: center;
  }
  .section-bridges .bridge-wrp {
    flex: 0 0 33%;
  }
}
@media (max-width: 600px) {
  .section-bridges .bridge-wrp {
    flex: 0 0 50%;
  }
}

/* VIRTUAL BRIDGE */
.section-virtual-view .virtual-wrp {
  margin-top: 60px;
}

/* BRIDGE DIAGRAM */
.bridge-diagram-wrp {
  background: var(--secondary-grey);
  padding: 100px;
}
.bridge-diagram-wrp h2 {
  font-family: 'Caporal Regular', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--brown-grey);
  font-size: 30px;
}
.bridge-diagram-wrp img {
  width: 100%;
}
@media (max-width: 1200px) {
  .bridge-diagram-wrp {
    padding: 70px;
  }
  .bridge-diagram-wrp h2 {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .bridge-diagram-wrp {
    padding: 40px;
  }
  .bridge-diagram-wrp h2 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .bridge-diagram-wrp {
    padding: 20px;
  }
}

/* ENGINEER CTA */
.section-engineer-cta {
  background: var(--main-grey);
  height: 400px;
  position: relative;
  width: 1200px;
  max-width: 90%;
  margin: 200px auto;
}
.section-engineer-cta.percy-allen .main-tile {
  background: url('/assets/images/engineer-cta.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
  width: 80%;
  position: relative;
  color: #fff;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.section-engineer-cta .main-tile .left,
.section-engineer-cta .main-tile .right {
  position: absolute;
  text-align: center;
}
.section-engineer-cta .main-tile p {
  margin: 0;
  font-size: 55px;
  font-weight: 700;
}
.section-engineer-cta .main-tile p.s {
  font-size: 40px;
}
.section-engineer-cta .main-tile .left {
  left: 20px;
  top: 50px;
}
.section-engineer-cta .main-tile .right {
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.section-engineer-cta.percy-allen .main-tile a {
  margin: 15px auto;
  width: 310px;
  color: var(--main-black);
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  background: url('/assets/images/icon--arrow--dark.png');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 26px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-align: left;
}
.section-engineer-cta.percy-allen .main-tile a:hover {
  background-position: center right;
}
.section-engineer-cta .profile-pic-tile {
  position: absolute;
  bottom: -100px;
  right: -120px;
}
.section-engineer-cta .profile-pic-tile img {
  width: 400px;
  height: auto;
}
.section-engineer-cta .profile-pic-tile--mobile {
  width: 400px;
  display: flex;
  margin: auto 0 auto auto;
}
.section-engineer-cta .profile-pic-tile--mobile img {
  width: 200px;
  height: auto;
  display: flex;
  margin: auto 10px auto auto;
}
@media (min-width: 1500px) {
  .section-engineer-cta .profile-pic-tile--mobile img {
    display: none;
  }
}
@media (max-width: 1500px) {
  .section-engineer-cta .profile-pic-tile--desktop {
    display: none;
  }
}
@media (max-width: 1200px) {
  .section-engineer-cta .main-tile .left {
    left: 5%;
    top: 7%;
  }
  .section-engineer-cta .main-tile .right {
    bottom: 7%;
    right: 5%;
  }
}
@media (max-width: 1000px) {
  .section-engineer-cta .main-tile p {
    font-size: 40px;
  }
  .section-engineer-cta .main-tile p.s {
    font-size: 30px;
  }
}
@media (max-width: 750px) {
  .section-engineer-cta .profile-pic-tile--mobile {
    width: 300px;
  }
  .section-engineer-cta .profile-pic-tile--mobile img {
    width: 120px;
    height: auto;
    display: flex;
    margin: auto 10px auto auto;
  }
}

/* PAGE HEADING */
.page-heading-wrp {
  margin-bottom: 50px;
}
.page-heading-wrp .top-bar {
  display: flex;
  align-items: center;
  height: 90px;
}
.page-heading-wrp .top-bar .left-wrp,
.page-heading-wrp .top-bar .right-wrp {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Caporal Regular', sans-serif;
}
.page-heading-wrp .top-bar h1,
.page-heading-wrp .top-bar h2 {
  font-family: 'Caporal Regular', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}
.page-heading-wrp .top-bar h1 {
  font-size: 70px;
}
.page-heading-wrp .top-bar .left-wrp {
  background: var(--main-grey);
  flex: 1;
}
.page-heading-wrp .top-bar .left-wrp h1 {
  margin: 0 0 0 200px;
}
.page-heading-wrp .top-bar .right-wrp {
  position: relative;
  flex: 0 0 35%;
  background-color: var(--main-gold);
}
.page-heading-wrp .top-bar .right-wrp:hover {
  background-size: 45px;
}
.page-heading-wrp #btn--switch-list-view {
  display: none;
}
.page-heading-wrp .top-bar .right-wrp button {
  margin: auto 40px auto auto;
  display: flex;
  align-items: flex-end;
  width: 75%;
  background: inherit;
  border: none;
  font-size: 18px;
}
.page-heading-wrp .top-bar .right-wrp button img {
  width: 40px;
  height: auto;
}
.page-heading-wrp .top-bar .right-wrp:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: var(--main-gold);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: 2;
}
@media (max-width: 1200px) {
  .page-heading-wrp .top-bar .left-wrp h1 {
    font-size: 60px;
    margin: 0;
  }
  .page-heading-wrp .top-bar h2 {
    font-size: 20px;
  }
  .page-heading-wrp .top-bar {
    flex-direction: column;
    height: 180px;
  }
  .page-heading-wrp .top-bar .left-wrp,
  .page-heading-wrp .top-bar .right-wrp {
    width: 100%;
  }
  .page-heading-wrp .top-bar .left-wrp {
    justify-content: center;
  }
  .page-heading-wrp .top-bar h2 {
    font-size: 30px;
  }
  .page-heading-wrp .top-bar .right-wrp:after {
    display: none;
  }
  .page-heading-wrp .top-bar .right-wrp button {
    margin: auto;
    width: 40%;
  }
  .page-heading-wrp .top-bar .right-wrp button h2 {
    margin: 0 auto 0 0;
  }
}
@media (max-width: 1000px) {
  .page-heading-wrp .top-bar .right-wrp button {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .page-heading-wrp .top-bar .left-wrp h1 {
    font-size: 35px;
    margin: 0 0 0 10px;
  }
  .page-heading-wrp .top-bar .right-wrp button h2 {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .page-heading-wrp .top-bar .right-wrp button {
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
  }
  .page-heading-wrp .top-bar .right-wrp button h2,
  .page-heading-wrp .top-bar .right-wrp button img {
    margin: auto;
  }
}
