.section-publications {
	ul.publication-list-wrp {
		list-style: none;
		padding: 0;
		width: 1080px;
		max-width: 90%;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		justify-content: center;

		li {
			padding: 20px;
			display: flex;
			flex-direction: column;
			background: var(--main-grey);
			margin: 10px;
			flex: 0 0 25%;

			@media (max-width: 1080px) {
				flex: 0 0 40%;
			}

			@media (max-width: 790px) {
				flex: 0 0 100%;
			}

			h3.heading {
				margin: 0 0 10px 0;
				color: var(--main-gold);
				font-weight: 700;
			}

			p.intro {
				margin: 0 0 5px 0;
			}

			p.date {
				margin: 10px 0;
				font-weight: 700;
			}
		}
	}
}
