.section-resources .boxes-wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-resources .box-wrp {
  background: var(--main-grey);
  flex: 0 0 32%;
  flex-wrap: wrap;
  height: 400px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}
.section-resources .box-wrp:hover {
  background: var(--main-brown);
}
.section-resources .box-wrp .content {
  padding: 20px;
  position: relative;
  height: 80%;
}
.section-resources .box-wrp h4 {
  color: var(--main-gold);
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.section-resources .box-wrp h3 {
  color: var(--main-black);
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.section-resources .box-wrp .meta {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.section-resources .box-wrp .file-specs {
  position: absolute;
  margin: 0;
  bottom: 0;
  font-size: 14px;
}
.section-resources .box-wrp .triangle {
  position: absolute;
  bottom: -4px;
  right: 0;
  z-index: 9;
}
.section-resources .box-wrp .triangle img {
  width: 100px;
}
@media (max-width: 900px) {
  .section-resources .box-wrp {
    flex: 0 0 100%;
    margin: 10px 0;
    height: 350px;
  }
}
