.resource-tile {
	background: var(--main-grey);
	flex: 0 0 30%;
	flex-wrap: wrap;
	position: relative;
	cursor: pointer;
	transition: all 0.2s ease;
	margin: 10px;

	@media (max-width: 900px) {
		flex: 0 0 100%;
		margin: 10px 0;
	}

	img.tile-thumbnail {
		width: 100%;
		height: auto;
	}

	.content {
		padding: 20px;
		position: relative;
	}

	h4 {
		color: var(--main-gold);
		text-transform: uppercase;
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		margin: 0 auto 10px 0;
	}

	h3 {
		color: var(--main-black);
		font-size: 22px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin: 0 auto 10px 0;
	}

	.meta {
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 25px;
	}

	p.body {
		max-width: 80%;
	}

	.file-specs {
		position: absolute;
		margin: 0;
		bottom: 0;
		font-size: 14px;
	}

	.triangle-wrp {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 100px 100px;
		border-color: transparent transparent var(--main-gold) transparent;
		position: absolute;
		bottom: 0;
		right: 0;

		&:hover {
			border-color: transparent transparent var(--main-brown) transparent;
		}
	}

	img.triangle-arrow {
		position: absolute;
		right: 15px;
		bottom: 18px;
	}
}
