main.search-results-page {
	.page-heading-wrp {
		.top-bar {
			h1 {
				text-align: left;
				width: 900px;
				max-width: 90%;
				margin: auto;
			}
		}
	}

	.search-results-list-wrp {
		width: 900px;
		max-width: 90%;
		margin: auto;

		ul {
			padding: 0;

			li {
				list-style: none;
				margin: 50px 0;

				h2 {
					margin-bottom: 0;
					font-size: 22px;
				}

				p {
					cursor: pointer;
					font-size: 16px;

					&:hover {
						color: var(--main-gold);
					}
				}
			}
		}
	}

	.site-map-section {
		.content {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 1200px;
			max-width: 90%;
			margin: 60px auto;

			.btns-wrp {
				display: flex;
				flex-direction: column;

				a {
					border: 1px solid #000;
					padding: 15px 60px 15px 15px;
					margin: 10px 0;
					background-image: url(/assets/images/icon--arrow--dark.png);
					background-repeat: no-repeat;
					background-size: 20px;
					background-position: center right 10px;
					transition: all 0.2s;

					&:hover {
						border-color: var(--main-gold);
						background-position: center right 5px;
					}
				}
			}

			.list-wrp {
				display: flex;
				align-self: normal;
				width: 70%;

				.list-item {
					margin: 0 40px;
					text-align: center;

					h3 {
						font-size: 22px;
						margin-top: 0;
					}
				}
			}
		}
	}
}
