.search-modal-wrp {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--main-black);
  opacity: 0.97;
  height: 100vh;
  width: 100vw;
  color: #fff;
  display: none;
  z-index: 9;
}
.search-modal-wrp .close-btn {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 50px;
  height: auto;
}
.search-modal-wrp .close-btn img {
  width: 50px;
  height: auto;
}
.search-modal-wrp .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  text-align: center;
}
.search-modal-wrp .content h1 {
  font-family: 'Caporal Regular', sans-serif;
  font-size: 70px;
  text-transform: uppercase;
}
.search-modal-wrp .content .input-wrp {
  border-bottom: 1px solid #fff;
  width: 70%;
  height: 50px;
  margin: auto;
  background: url('/assets/images/icon--search--white.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 50px;
}
.search-modal-wrp .content input {
  background: none;
  border: none;
  width: 50%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  padding-left: 10px;
}
.search-modal-wrp .content input::placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 500;
  text-align: center;
}
.search-modal-wrp .cta-wrp {
  width: 30%;
  height: 50px;
  background-color: var(--main-grey);
  border-radius: 5px;
  opacity: 1;
  margin: auto;
  background-image: url('/assets/images/icon--arrow--dark.png');
  background-repeat: no-repeat;
  background-position: center right 30px;
  transition: all 0.3s;
}
.search-modal-wrp .cta-wrp:hover {
  background-position: center right 15px;
}
.search-modal-wrp .cta-wrp button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 25px;
  text-align: left;
  margin-left: 10px;
}

/* FILTER BAR */
.filter-bar {
  background: var(--main-black);
}
.filter-bar form {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}
@media (max-width: 1000px) {
  .filter-bar form {
    width: 95%;
    justify-content: space-evenly;
  }
}
@media (max-width: 500px) {
  .filter-bar form {
    flex-direction: column;
    align-items: end;
    padding: 15px 0;
  }
}
