.section-about-engineer {
  width: 1200px;
  max-width: 90%;
  margin: 60px auto;
}
.section-about-engineer .content {
  display: flex;
}
.section-about-engineer .cards-wrp {
  margin-right: 25px;
  flex-direction: column;
  justify-content: space-between;
}
.section-about-engineer .flip-card {
  width: 300px;
  height: 300px;
  margin: 10px 0;
}
@media (max-width: 1200px) {
  .section-about-engineer .content {
    flex-direction: column;
  }
  .section-about-engineer .cards-wrp {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0 0 10px 0;
  }
  .section-about-engineer .cards-wrp .flip-card {
    margin-right: 10px;
  }
}
@media (max-width: 900px) {
  .section-about-engineer .flip-card {
    flex: 0 0 48%;
  }
}
@media (max-width: 550px) {
  .section-about-engineer .flip-card {
    flex: 0 0 100%;
  }
}

/* RELATED BRIDGES */
.section-engineer-bridges {
  margin-bottom: 100px;
}
.section-engineer-bridges .boxes-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-engineer-bridges .box-wrp {
  flex: 0 0 32%;
}
.section-engineer-bridges .box-wrp img {
  width: 100%;
}
.section-engineer-bridges .box-wrp .content {
  position: relative;
}
.section-engineer-bridges .box-wrp .cta-wrp {
  background: var(--secondary-black);
  color: #fff;
  position: absolute;
  width: 75%;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.section-engineer-bridges .box-wrp .cta-content {
  padding: 30px;
}
.section-engineer-bridges .box-wrp .cta-wrp h3 {
  margin: 0 0 5px 0;
}
.section-engineer-bridges .box-wrp .cta-wrp p {
  margin: 0 0 15px 0;
}
.section-engineer-bridges .box-wrp .cta-wrp img.bridge {
  width: 130px;
}
.section-engineer-bridges .box-wrp .triangle {
  right: -12px;
}
.section-engineer-bridges .box-wrp .triangle img {
  width: 85%;
}
@media (max-width: 1200px) {
  .section-engineer-bridges .box-wrp .content {
    display: flex;
    flex-direction: column;
  }
  .section-engineer-bridges .box-wrp .cta-wrp {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .section-engineer-bridges .box-wrp {
    flex: 0 0 100%;
    margin: 10px 0;
  }
  .section-engineer-bridges .box-wrp .triangle {
    right: 0;
  }
  .section-engineer-bridges .box-wrp .triangle img {
    width: 90px;
  }
}
