.section-about-engineer {
	width: 1200px;
	max-width: 90%;
	margin: 60px auto;
}
.section-about-engineer .content {
	display: flex;
}
.section-about-engineer .cards-wrp {
	margin-right: 25px;
	flex-direction: column;
	justify-content: space-between;
}
.section-about-engineer .flip-card {
	width: 400px;
	height: 400px;
	margin: 10px 0;
}
@media (max-width: 1200px) {
	.section-about-engineer .content {
		flex-direction: column;
	}
	.section-about-engineer .cards-wrp {
		flex-direction: row;
		width: 100%;
		justify-content: center;
		margin: 0 0 10px 0;
	}
	.section-about-engineer .cards-wrp .flip-card {
		margin-right: 10px;
	}
}
@media (max-width: 900px) {
	.section-about-engineer .flip-card {
		flex: 0 0 48%;
	}
}
@media (max-width: 550px) {
	.section-about-engineer .flip-card {
		flex: 0 0 100%;
	}
}

/* RELATED BRIDGES */
.section-engineer-bridges {
	margin-bottom: 100px;
}
.section-engineer-bridges.map-view {
	display: none;
}
.section-engineer-bridges .feature-bridge {
	position: relative;
	background: var(--main-grey);
	margin: 200px auto 50px auto;
	height: 400px;
	width: 1600px;
	max-width: 95%;
}
.section-engineer-bridges .feature-bridge .cards-wrp {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	height: 80%;
	left: 20px;
}
.section-engineer-bridges .feature-bridge .flip-card {
	z-index: 3;
	width: 40%;
}
.section-engineer-bridges .feature-bridge .flip-card .front {
	background-color: var(--main-black);
	opacity: 1;
}
.section-engineer-bridges .feature-bridge .flip-card .front .inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	font-weight: 700;
}
.section-engineer-bridges .feature-bridge .flip-card .front .inner img {
	width: 80px;
}
.section-engineer-bridges .feature-bridge .flip-card .front .triangle-wrp {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 140px 140px;
	border-color: transparent transparent var(--main-gold) transparent;
	position: absolute;
	bottom: 0;
	right: 0;
}
.section-engineer-bridges
	.feature-bridge
	.flip-card
	.front:hover
	.triangle-wrp {
	border-color: transparent transparent var(--main-brown) transparent;
}
.section-engineer-bridges
	.feature-bridge
	.flip-card
	.front
	img.triangle-question {
	position: absolute;
	right: 15px;
	bottom: 18px;
}
.section-engineer-bridges .feature-bridge img.main {
	position: absolute;
	width: 800px;
	max-width: 95%;
	height: auto;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.section-engineer-bridges .feature-bridge img.cta {
	position: absolute;
	width: 400px;
	height: auto;
	bottom: 0;
	top: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 50px;
}
.section-engineer-bridges .boxes-wrp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section-engineer-bridges .box-wrp {
	flex: 0 0 32%;
}
.section-engineer-bridges.row-wrap .box-wrp {
	margin-bottom: 100px;
}
.section-engineer-bridges .box-wrp img {
	width: 100%;
}
.section-engineer-bridges .box-wrp .content {
	position: relative;
}
.section-engineer-bridges .box-wrp .cta-wrp {
	background: var(--secondary-black);
	color: #fff;
	position: absolute;
	width: 75%;
	bottom: -30%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.section-engineer-bridges .box-wrp .cta-content {
	padding: 30px;
}
.section-engineer-bridges .box-wrp .cta-wrp h3 {
	margin: 0 0 5px 0;
}
.section-engineer-bridges .box-wrp .cta-wrp p {
	margin: 0 0 15px 0;
}
.section-engineer-bridges .box-wrp .cta-wrp img.bridge {
	width: 130px;
}
.section-engineer-bridges .box-wrp .triangle-wrp {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 100px 100px;
	border-color: transparent transparent var(--main-gold) transparent;
	position: absolute;
	bottom: 0;
	right: 0;
}
.section-engineer-bridges .box-wrp:hover .triangle-wrp {
	border-color: transparent transparent var(--main-brown) transparent;
}
.section-engineer-bridges .box-wrp img.triangle-arrow {
	position: absolute;
	right: 15px;
	bottom: 18px;
	width: 35px;
	height: auto;
}
@media (max-width: 1200px) {
	.section-engineer-bridges.row-wrap .box-wrp {
		margin-bottom: 20px;
	}
	.section-engineer-bridges .box-wrp .content {
		display: flex;
		flex-direction: column;
	}
	.section-engineer-bridges .box-wrp .cta-wrp {
		position: relative;
		width: 100%;
	}
}
@media (max-width: 1000px) {
	.section-engineer-bridges .feature-bridge {
		margin-top: 100px;
		height: auto;
		display: flex;
		flex-direction: column;
		background: none;
		justify-content: center;
	}
	.section-engineer-bridges .feature-bridge .cards-wrp {
		position: relative;
		display: flex;
		left: unset;
		margin: auto;
	}
	.section-engineer-bridges .feature-bridge .cards-wrp .flip-card {
		margin: auto;
		height: 400px;
		width: 400px;
	}
	.section-engineer-bridges .feature-bridge img.main {
		position: relative;
		margin: 30px auto;
	}
	.section-engineer-bridges .feature-bridge a {
		display: flex;
	}
	.section-engineer-bridges .feature-bridge img.cta {
		position: relative;
		right: unset;
		margin: auto;
	}
}
@media (max-width: 800px) {
	.section-engineer-bridges .box-wrp {
		flex: 0 0 47%;
		margin: 10px 0;
	}
}
@media (max-width: 500px) {
	.section-engineer-bridges .box-wrp {
		flex: 0 0 100%;
	}
}

/* SINGLE ENGINEER PAGE */
.engineers-page .page-heading-wrp .top-bar h1 {
	color: #000;
	width: 600px;
	max-width: 90%;
	text-align: left;
}
.engineers-page .intro-text .content {
	width: 600px;
	max-width: 90%;
	margin: auto;
}
