.section-slider {
  padding: 80px 0;
  max-width: 90%;
  margin: auto;
}
#splide .splide__slide {
  background: url('/assets/images/icon--zoom.png');
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
#splide .splide__slide img {
  width: 100%;
  height: 100%;
}
#splide .splide__slide p {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 22px;
  color: #fff;
}
