.section-slider {
  padding: 80px 0;
  max-width: 85%;
  margin: auto;
}
#splide .splide__slide {
  display: flex;
  align-items: center;
  position: relative;
}
#splide .splide__slide .magnific-popup {
  cursor: zoom-in;
}
#splide .splide__slide img.slide-img {
  width: 100%;
  height: 100%;
}
#splide .splide__slide .zoom {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 4%;
  height: auto;
}
#splide .splide__slide p {
  position: absolute;
  bottom: 50px;
  left: 30px;
  font-size: 22px;
  color: #fff;
  margin: 0;
  font-weight: 700;
}
#splide .splide-arrow {
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  opacity: 1;
}
#splide .splide-arrow img {
  width: 50px;
  height: auto;
  max-width: 90%;
}
@media (max-width: 700px) {
  #splide .splide__slide p {
    font-size: 18px;
  }
  #splide .splide-arrow {
    width: 35px;
  }
}
