.section-slider {
  padding: 80px 0;
  max-width: 90%;
  margin: auto;
}
/* #splide .slide-1,
#splide .slide-2,
#splide .slide-3,
#splide .slide-4,
#splide .slide-5 {
  height: 400px;
} */
#splide .slide-1 {
  background: url('/assets/images/slider--1.jpg');
}
#splide .slide-2 {
  background: url('/assets/images/slider--1.jpg');
}
#splide .slide-3 {
  background: url('/assets/images/slider--1.jpg');
}
#splide .slide-4 {
  background: url('/assets/images/slider--1.jpg');
}
#splide .slide-5 {
  background: url('/assets/images/slider--1.jpg');
}
#splide .splide__slide {
  position: relative;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#splide .splide__slide p {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 22px;
  color: #fff;
}
