.section-slider {
  padding: 160px 0 80px 0;
  max-width: 90%;
  margin: auto;
}
#splide .slide-1,
#splide .slide-2,
#splide .slide-3,
#splide .slide-4,
#splide .slide-5 {
  height: 400px;
  background: url('/assets/images/dummy-image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#splide .splide__pagination {
  display: none;
}
#splide .splide__slide {
  text-align: center;
}
