.section-social {
  padding: 120px 0 120px 0;
}
.section-social .content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.section-social .boxes-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-social .box-wrp {
  display: flex;
  align-items: center;
  height: 70px;
  background: #efefef;
  flex: 1;
  justify-content: space-between;
  margin: 0 10px;
  position: relative;
}
.section-social .box-wrp .txt-wrp {
  padding-left: 30px;
}
.section-social .box-wrp .txt-wrp p {
  margin: 0;
  padding: 0;
  font-family: 'Caporal Regular';
  font-size: 25px;
}
.section-social .box-wrp .txt-wrp span {
  color: var(--main-gold);
  font-family: 'Caporal Regular';
  font-size: 20px;
}
.section-social .box-wrp .bg-wrp {
  height: 100%;
  width: 80px;
  background: var(--main-gold);
  right: 0;
  position: absolute;
}
.section-social .box-wrp .skew-wrp {
  height: 100%;
  background: var(--main-gold);
  margin: 0 40px 0 0;
  width: 90px;
  transform: skewX(-50deg);
  display: flex;
  align-items: center;
}
.section-social .box-wrp:nth-child(1) .skew-wrp {
  justify-content: space-evenly;
}
.section-social .box-wrp:nth-child(2) .skew-wrp {
  justify-content: space-between;
}
.section-social .box-wrp .book,
.arrow,
.facebook {
  transform: skewX(50deg);
}
.section-social .box-wrp .book {
  width: 120px;
  position: absolute;
  top: -32px;
  right: 60px;
}
.section-social .box-wrp .arrow {
  width: 28px;
  position: absolute;
  right: -25px;
  top: 25px;
}
.section-social .box-wrp .facebook {
  width: 50px;
  position: absolute;
  top: 8px;
  right: -3px;
}
@media (max-width: 1300px) {
  .section-social {
    padding: 0;
  }
  .section-social .boxes-wrp {
    flex-direction: column;
  }
  .section-social .box-wrp {
    margin: 30px 0;
  }
}
@media (max-width: 750px) {
  .section-social .box-wrp .txt-wrp p {
    font-size: 25px;
  }
  .section-social .box-wrp .txt-wrp span {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .section-social .box-wrp .txt-wrp p {
    font-size: 18px;
  }
  .section-social .box-wrp .txt-wrp span {
    font-size: 16px;
  }
  .section-social .box-wrp .logo-wrp .book {
    width: 90px;
    top: -15px;
  }
}
